body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 20vh;
}

.crackle-pop,
.crackle {
    border-radius: 10px;
    padding: 5px 15px;
    margin: 15px 0 15px 0;
}

.crackle-pop {
    background: black;
    color: white;
}

.crackle {
    background: #dedede;
    color: black;
}
